/* src/components/panels/StructurePanel.module.css */
.structurePanel {
  width: 250px;
  padding: 10px;
  border-left: 1px solid #ccc;
  background-color: #fff;
  overflow-y: auto;
  flex-shrink: 0;
  box-sizing: border-box;
}

.structureUl {
  list-style: none;
  padding-left: 0; /* Удаляем стандартный padding */
  margin: 0;
}

.structureLi {
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
  margin-bottom: 2px;
  transition: background-color 0.2s ease;
}

.structureLi:hover {
  background-color: #f0f0f0;
}

.structureLiSelected {
  background-color: #e0e0e0;
  font-weight: bold;
}

.structureChildrenContainer {
  padding-left: 15px; /* Отступ для вложенных элементов */
}