.wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px; /* Отступ между лейблом и контролом */
}

.labelWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label {
  font-weight: 500;
}

.linkButton {
  background: none;
  border: none;
  color: var(--ui-text-accent);
  cursor: pointer;
  font-size: 13px;
  padding: 0;
}

.linkButton:hover {
  text-decoration: underline;
}