.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 32px;
  height: 32px;
  padding: 0 6px;

  font-size: 16px;
  color: var(--ui-text-primary);
  background: transparent;
  border: none;
  border-radius: var(--border-radius-sm);
  cursor: pointer;
  transition: var(--transition-fast);
}

.button:hover:not(:disabled) {
  background-color: var(--bg-hover);
}

.button:disabled,
.button.disabled {
  color: var(--ui-text-secondary);
  cursor: not-allowed;
}

.active {
  background-color: var(--accent-primary-subtle-bg);
  color: var(--ui-text-accent);
}
