.container {
  width: 100%;
  box-sizing: border-box;
  display: flex; /* Flexbox включен всегда */
  min-height: 40px; /* Уменьшим базовую высоту */
}

/* --- Ширина --- */
.variant-align-none { max-width: 620px; margin-left: auto; margin-right: auto; }
.variant-align-wide { max-width: 1280px; margin-left: auto; margin-right: auto; }
.variant-align-full { max-width: none; }

/* --- Направление --- */
.variant-direction-column { flex-direction: column; }
.variant-direction-row { flex-direction: row; }

/* --- Выравнивание по основной оси --- */
.variant-justifyContent-flex-start { justify-content: flex-start; }
.variant-justifyContent-center { justify-content: center; }
.variant-justifyContent-flex-end { justify-content: flex-end; }
.variant-justifyContent-space-between { justify-content: space-between; }
.variant-justifyContent-space-around { justify-content: space-around; }
.variant-justifyContent-space-evenly { justify-content: space-evenly; }

/* --- Выравнивание по поперечной оси --- */
.variant-alignItems-stretch { align-items: stretch; }
.variant-alignItems-flex-start { align-items: flex-start; }
.variant-alignItems-center { align-items: center; }
.variant-alignItems-flex-end { align-items: flex-end; }

/* --- Перенос элементов --- */
.variant-allowWrap-true { flex-wrap: wrap; }

@media (max-width: 768px) {
    /* Если у блока есть класс .variant-allowWrap-true... */
    .variant-allowWrap-true {
        /* ... разрешаем перенос элементов */
        flex-wrap: wrap;
    }
}